# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Cursor
#  Cursor is an AI-powered code editor. `.cursorignore` specifies files/directories to
#  exclude from AI features like autocomplete and code analysis. Recommended for sensitive data
#  refer to https://docs.cursor.com/context/ignore-files
.cursorignore
.cursorindexingignore



### Project-specific

# Don't commit specific branch settings
launcher/branch

# We want to manage the projector and device tiles, but not the others
tiles/web/
tiles/imgs/

# Local HTTPS material for screen casting
certs/*.crt
certs/*.key
certs/*.pem

# Known wifi networks
known_networks.json

# Local logs
logs/